.homepage{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 10px;
}
.card {
    /* background-color: gainsboro; */
    display: flex;
   flex-direction: row;
   justify-content: space-between;
   
}
.card_answer {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border:1px solid grey;
   border-radius:10px;
   margin:2px
}
.openQuestion{
   margin-top:4px;
border:1px solid lightseagreen;
height:1rem;
font-size: 0.5rem;
border-radius:10%;
background-color: lightgreen;
}
.showquestion{
   position: relative;
   padding:10px;
   display:flex;
}
.authordetails{
   display:flex;
   justify-content: flex-start;
   flex-direction: column;
}
.profilepic {
   height: 40px;
   width: 40px;
   background-color: yellowgreen;
   border-radius: 50%;
}
.QuestionEngagement{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
}
.answerEngagement{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   width: 80vw;
}
.answers_container{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}
.profile_pic{
   height: 40px;
   width: 40px;
   border:1px solid red;
   background-color: greenyellow;
   border-radius:50%;
}