.Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(176, 156, 156);
    color: white;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}